body {
  font-family: 'Tinos', sans-serif;
  font-size: 16px;
  color: #000000;
  background: #f4ca11 !important;
}

h1 {  
  padding-bottom: 20px;
}

h2 {
  font-size: 16px;
  text-transform: uppercase;
}

.container {
  margin: auto; 
  padding: 100px;
}

@media (max-width: 978px) {
    .container {
      padding:5px;
      margin:5px;
    }

    /* Second Level */
    ul {
      padding-left:10px;
      margin-left: 10px;
    }
  }

img {
	width: 100%;
	height: auto;
  padding: 30px;
  padding-top: 40px;
  max-width: 280px;
}

@media (max-width: 978px) {
    .container {
      padding:5px;
      margin:5px;
    }
  }

.pulseEffect:hover {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  animation-fill-mode: forwards;
}

a {
  color: #000000;
  background: url('images/moving-underline.gif') repeat-x;
  background-position: 0 100%;
}

a:hover{
  color: #000000;
  background: no-repeat;
}