body {
  font-family: 'Tinos', sans-serif;
  font-size: 16px;
  color: #000000;
  background: #f4ca11 !important;
}

h1 {  
  text-indent: 20px;
  font-weight: normal;
}


h2 {
  font-size: 16px;
  text-transform: uppercase;
}

.container {
  margin: auto; 
  padding: 100px;
  width: 45%;
}

/* add a moving underline to links */
/* credit to http://veryinteractive.net */

a {
  color: #000000;
  background: url('images/moving-underline.gif') repeat-x;
  background-position: 0 100%;
}

a:hover{
  color: #000000;
  background: no-repeat;
}

/* highlighting color override */

::selection {
  background: #37ff00; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #37ff00; /* Gecko Browsers */
}

@media (max-width: 978px) {
    .container {
      padding:5px;
      margin:5px;
    }

    /* Second Level */
    ul {
      padding-left:10px;
      margin-left: 10px;
    }
  }

img {
	width: 100%;
	height: auto;
  padding: 30px;
  padding-top: 40px;
  max-width: 280px;
}

@media (max-width: 978px) {
    .container {
      padding:5px;
      margin:5px;
    }
  }

.pulseEffect:hover {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  animation-fill-mode: forwards;
}

// for projects grid
.image-list-small {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  text-align: center;
  max-width: 640px;
  padding: 0;
}

.image-list-small li {
  display: inline-block;
  width: 181px;
  margin: 0 12px 30px;
}


/* Photo */

.image-list-small li > a {
  display: block;
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
  height: 137px;
  margin: 0;
  padding: 0;
  border: 4px solid #ffffff;
  outline: 1px solid #d0d0d0;
  box-shadow: 0 2px 1px #DDD;
}

.image-list-small .details {
  margin-top: 13px;
}


/* Title */

.image-list-small .details h3 {
  display: block;
  font-size: 12px;
  margin: 0 0 3px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-list-small .details h3 a {
  color: #303030;
  text-decoration: none;
}

.image-list-small .details .image-author {
  display: block;
  color: #717171;
  font-size: 11px;
  font-weight: normal;
  margin: 0;
}
