body {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
}

h2 {
  font-family: 'Zillo Slab', serif;
}

.highlight {
  background-image: -webkit-linear-gradient(-45deg, #3F51B5 0%, #03A9F4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  color: #455A64;
  position: absolute;      
}

.vertical-center {
	min-height: 100%;  
  min-height: 100vh; 
  display: flex;
  align-items: center;
}

img {
	width: 100%;
	height: auto;
	vertical-align: middle;
  padding: 10px;
  max-width: 350px;
}

.pulseEffect:hover {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    animation-fill-mode: forwards;
}

a:link {
  background-image: -webkit-linear-gradient(-45deg, #3F51B5 0%, #03A9F4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:visited {
  background-image: -webkit-linear-gradient(-45deg, #3F51B5 0%, #03A9F4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:active {
  background-image: -webkit-linear-gradient(-45deg, #3F51B5 0%, #03A9F4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover{
  background-image: linear-gradient(-45deg, #5166DC 0%, #6DA3EF 53%, #86D9FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}