body {
  font-family: 'Muli', sans-serif;
  font-size: 14px;

}

h1 {
  font-family: 'Zillo Slab', serif;
  padding-bottom: 20px
}

h2 {
  font-size: 14px;
}

.highlight {
  background-image: -webkit-linear-gradient(-45deg, #3F51B5 0%, #03A9F4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  color: #455A64;
  margin: auto; 
  max-width: 90%;
  padding: 100px;
}

@media (max-width: 978px) {
    .container {
      padding:5px;
      margin:5px;
    }

    /* Second Level */
    ul {
      padding-left:10px;
      margin-left: 10px;
    }
  }

img {
	width: 100%;
	height: auto;
  padding: 30px;
  padding-top: 40px;
  max-width: 280px;
}

@media (max-width: 978px) {
    .container {
      padding:5px;
      margin:5px;
    }
  }

.pulseEffect:hover {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  animation-fill-mode: forwards;
}

a:link {
  background-image: -webkit-linear-gradient(-45deg, #3F51B5 0%, #03A9F4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:visited {
  background-image: -webkit-linear-gradient(-45deg, #3F51B5 0%, #03A9F4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:active {
  background-image: -webkit-linear-gradient(-45deg, #3F51B5 0%, #03A9F4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover{
  background-image: linear-gradient(-45deg, #5166DC 0%, #6DA3EF 53%, #86D9FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}