body {
  padding: 20px;
}

.highlight {
    font-weight: 400;
    background-image: -webkit-linear-gradient(-45deg, #3F51B5 0%, #03A9F4 100%);
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
	font-family: Roboto, Helvetica, Sans-serif;
    color: #455A64;
    font-size: 20px;
    font-weight: 300;
	min-height: 10em;
   	position: absolute;      
}

.vertical-center {
	min-height: 100%;  
  	min-height: 100vh; 

	display: flex;
	align-items: center;
}
.img {
	max-width: 200px;
	width: auto;
	height: auto;
	vertical-align: middle;
}

a:link {
    font-weight: 400;
    background-image: -webkit-linear-gradient(-45deg, #3F51B5 0%, #03A9F4 100%);
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:visited {
    font-weight: 400;
    background-image: -webkit-linear-gradient(-45deg, #3F51B5 0%, #03A9F4 100%);
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:active {
    font-weight: 400;
    background-image: -webkit-linear-gradient(-45deg, #3F51B5 0%, #03A9F4 100%);
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover{
    font-weight: 400;
background-image: linear-gradient(-45deg, #5166DC 0%, #6DA3EF 53%, #86D9FF 100%);
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



